<script lang="ts">
  import Logo from '$lib/components/logo.svelte'
  import { availableLanguageTags, languageTag } from '$lang/runtime'
  import { translatePath } from '$lib/_helpers/i18n'
  import { goto } from '$app/navigation'
  import * as m from '$lang/messages'
  import { Zap } from 'lucide-svelte'
</script>

<svelte:head>
  <title>Zap.Stacker</title>
  <meta name="description" content="Zap.Stacker - Is a life tracking app for your family" />
</svelte:head>
<div class="flex flex-col justify-center px-6 py-12 lg:px-8 mx-auto max-w-2xl">
  <div class="card p-6 pb-8 pt-8">
    <div>
      <div class="flex flex-row justify-center items-center mb-4">
        <div>
          <Logo size="42" />
        </div>
      </div>
      <div class="flex flex-row justify-center items-center mb-4">
        <h2>Zap.Stacker</h2>
      </div>

      <hr class="!border-t-2 mt-2 mb-6" />
      <p>{m.appDescription()}</p>
    </div>
  </div>
</div>

<style>
</style>
