<script lang="ts">
  import { page } from '$app/stores'
  import * as m from '$lang/messages'
  import { superForm } from 'sveltekit-superforms/client'
  //import SuperDebug from 'sveltekit-superforms/client/SuperDebug.svelte';
  import { userSchema } from '$lib/config/zod-schemas'
  import { ConicGradient } from '@skeletonlabs/skeleton'
  import type { ConicStop } from '@skeletonlabs/skeleton'
  import { AlertTriangle } from 'lucide-svelte'
  export let data

  const signUpSchema = userSchema.pick({
    firstName: true,
    lastName: true,
    email: true,
  })

  const { form, errors, enhance, delayed, message } = superForm(data.form, {
    taintedMessage: null,
    validators: signUpSchema,
    delayMs: 0,
  })

  const conicStops: ConicStop[] = [
    { color: 'transparent', start: 0, end: 25 },
    { color: 'rgb(var(--color-primary-900))', start: 75, end: 100 },
  ]

  // console.log('profile', $page)
</script>

<form method="POST" use:enhance>
  <!--<SuperDebug data={$form} />-->
  <h3>Profile</h3>
  <hr class="!border-t-2 mt-2 mb-6" />
  {#if $message}
    <aside class="alert variant-filled-success mt-6">
      <!-- Message -->
      <div class="alert-message">
        <p>{$message}</p>
      </div>
    </aside>
  {/if}
  {#if $errors._errors}
    <aside class="alert variant-filled-error mt-6">
      <!-- Icon -->
      <div><AlertTriangle size="42" /></div>
      <!-- Message -->
      <div class="alert-message">
        <h3 class="h3">Sign In Problem</h3>
        <p>{$errors._errors}</p>
      </div>
    </aside>
  {/if}
  <div class="mt-6">
    <label class="label">
      <span class="">{m.firstName()}</span>
      <input
        id="firstName"
        name="firstName"
        type="text"
        placeholder={m.firstName()}
        autocomplete="given-name"
        data-invalid={$errors.firstName}
        bind:value={$form.firstName}
        class="input"
        class:input-error={$errors.firstName}
      />
      {#if $errors.firstName}
        <small>{$errors.firstName}</small>
      {/if}
    </label>
  </div>
  <div class="mt-6">
    <label class="label">
      <span class="">{m.lastName()}</span>
      <input
        id="lastName"
        name="lastName"
        type="text"
        placeholder={m.lastName()}
        autocomplete="family-name"
        data-invalid={$errors.lastName}
        bind:value={$form.lastName}
        class="input"
        class:input-error={$errors.lastName}
      />
      {#if $errors.lastName}
        <small>{$errors.lastName}</small>
      {/if}
    </label>
  </div>
  <div class="mt-6">
    <label class="label">
      <span class="">{m.email()}</span>
      <input
        id="email"
        name="email"
        type="email"
        placeholder="user@example.com"
        autocomplete="email"
        data-invalid={$errors.email}
        bind:value={$form.email}
        class="input"
        class:input-error={$errors.email}
      />
      {#if $errors.email}
        <small>{$errors.email}</small>
      {/if}
    </label>
  </div>
  <div class="mt-6">
    <a href="/auth/password/reset">{m.auth_passwordUpdate_changePassword()}</a>
  </div>

  <div class="mt-6">
    <button type="submit" class="btn variant-filled-primary w-full"
      >{#if $delayed}<ConicGradient stops={conicStops} spin width="w-6" />{:else}{m.updateProfile()}{/if}</button
    >
  </div>
</form>
