<script lang="ts">
  import { joinGroupSchema } from '$lib/config/zod-schemas'
  import { superForm } from 'sveltekit-superforms/client'
  import * as m from '$lang/messages'
  import { AlertTriangle } from 'lucide-svelte'
  import { languagePath } from '$lib/_helpers/i18n'

  export let data
  const { form, errors, enhance, delayed } = superForm(data.form, {
    taintedMessage: null,
    validators: joinGroupSchema,
    delayMs: 0,
  })
  console.log({ form, errors })
</script>

<article class="container mx-auto flex flex-wrap justify-between items-start p-6">
  <form
    method="POST"
    use:enhance
    class="container flex flex-col space-y-4 w-full lg:w-1/3 mt-6 lg:mt-0 bg-surface-100-800-token shadow-md rounded px-8 pt-6 pb-8 mb-4"
  >
    {#if $errors._errors}
      <aside
        class="bg-error-100-800-token border-l-4 border-error-500-400-token text-error-700-200-token p-4 mb-6"
        role="alert"
      >
        <div class="flex">
          <div class="flex-shrink-0 mr-3">
            <AlertTriangle size="42" />
          </div>
          <div class="flex-grow">
            <h3 class="text-lg font-bold mb-2">{m.group_JoinProblem()}</h3>
            <p class="text-sm">{$errors._errors}</p>
          </div>
        </div>
      </aside>
    {/if}
    <div class="mb-4">
      <label class="text-surface-900-50-token text-sm font-bold" for="inviteCode">
        {m.group_inviteCode()}
      </label>
      <input
        id="inviteCode"
        name="inviteCode"
        type="text"
        placeholder={m.group_inviteCode()}
        data-invalid={$errors.inviteCode}
        bind:value={$form.inviteCode}
        class="input"
      />
      {#if $errors.inviteCode}
        <p class="text-error-500-400-token text-xs italic">{$errors.inviteCode}</p>
      {/if}
    </div>
    <button type="submit" class="btn w-full bg-tertiary-400-500-token hover:bg-tertiary-700">{m.joinGroup()}</button>
    <a class="btn w-full variant-ringed-surface" href={languagePath('/onboard/create')}>{m.createGroup()}</a>
  </form>

  <div class="w-full lg:w-2/3 px-4">
    <h2 class="h2">Ready to join an existing group?</h2>
    <p class="text-lg text-surface-900-50-token">
      Creating group goals can be very empowering and motivating. Achieving big changes or results is easier with a
      strong group of individuals working towards a shared aim, especially when there is shared vision and investment in
      doing so.
    </p>
  </div>
</article>
