<script lang="ts">
  // Most of your app wide CSS should be put in this file
  import '../app.postcss'
  import { computePosition, autoUpdate, offset, shift, flip, arrow } from '@floating-ui/dom'

  import { browser } from '$app/environment'
  import { page } from '$app/stores'
  import { AppBar, AppShell, Avatar, Drawer, Modal, Toast, getDrawerStore } from '@skeletonlabs/skeleton'
  import Navigation from '$lib/components/navigation.svelte'
  import { APP_NAME } from '$lib/config/constants'
  import Footer from '$lib/components/footer.svelte'
  import { Menu } from 'lucide-svelte'
  import convertNameToInitials from '$lib/_helpers/convertNameToInitials'
  import { onMount } from 'svelte'
  import { initializeStores, storePopup } from '@skeletonlabs/skeleton'
  import { setLanguageTag, type AvailableLanguageTag, sourceLanguageTag } from '$lang/runtime'
  import { getTextDirection } from '$lib/_helpers/i18n'

  initializeStores()
  storePopup.set({ computePosition, autoUpdate, offset, shift, flip, arrow })

  export let data
  const drawerStore = getDrawerStore()

  function drawerOpen(): void {
    drawerStore.open()
  }
  // console.log(JSON.stringify(data));
  let initials = ''
  onMount(() => {
    if (data?.user?.firstName && data?.user?.lastName) {
      initials = convertNameToInitials(data?.user?.firstName, data?.user?.lastName)
    }
  })
  //$: initials = convertNameToInitials(data.user.firstName, data.user.lastName);
  $: initials = initials

  // Language
  //Determine the current language from the URL. Fall back to the source language if none is specified.
  $: lang = ($page.params.lang as AvailableLanguageTag) ?? sourceLanguageTag

  //Set the language tag in the Paraglide runtime.
  //This determines which language the strings are translated to.
  //You should only do this in the template, to avoid concurrent requests interfering with each other.
  $: setLanguageTag(lang)

  //Determine the text direction of the current language
  $: textDirection = getTextDirection(lang)

  //Keep the <html> lang and dir attributes in sync with the current language
  $: if (browser) {
    document.documentElement.dir = textDirection
    document.documentElement.lang = lang
  }
</script>

<Toast position="tr" />
<Modal />
<Drawer>
  <Navigation user={data.user} groups={data.groups} />
</Drawer>

<AppShell slotSidebarLeft="w-0 md:w-52 bg-surface-500/10">
  <svelte:fragment slot="header">
    <AppBar>
      <svelte:fragment slot="lead">
        <button class="md:hidden btn btn-sm mr-4" aria-label="Menu Button" on:click={drawerOpen}>
          <span>
            <Menu />
          </span>
        </button>
        <strong class="text-xl uppercase">{APP_NAME}</strong>
      </svelte:fragment>
      <svelte:fragment slot="trail">
        {#if data?.user}<Avatar {initials} width="w-10" background="bg-primary-500" />{/if}
      </svelte:fragment>
    </AppBar>
  </svelte:fragment>
  <svelte:fragment slot="sidebarLeft">
    {#key lang}
      <Navigation user={data.user} groups={data.groups} />
    {/key}
  </svelte:fragment>
  <!-- Main Content -->
  <div class="container lg:p-10 mx-auto">
    {#key lang}
      <slot />
    {/key}
  </div>
  <svelte:fragment slot="pageFooter"><Footer /></svelte:fragment>
</AppShell>
