<script>
  import * as m from '$lang/messages'
</script>

<h3>{m.auth_passwordUpdate_updateSuccess}</h3>
<hr class="!border-t-2 mt-2 mb-6" />
<p>
  Your password has been updated. You may now <a href="/auth/sign-in">sign in</a> with your new password.
</p>
