<article class="container flex flex-col items-center">
  <h2 class="h2">Share your journey</h2>
  <p>
    Whether tackling life's adventure alone or with others. The first step to using Life.Stack is to create or join a
    group. Then at anytime others can join to share in on your life adventure.
  </p>
  <div class="flex space-x-4">
    <a class="btn variant-filled-primary" href="/onboard/join">Join a Group</a>
    <a class="btn variant-filled-secondary" href="/onboard/create">Create a Group</a>
  </div>
</article>
