<script lang="ts">
  import { page } from '$app/stores'

  let groups = []

  // import { currentGroup } from '$lib/stores/groupStore'
  import {
    Autocomplete,
    type AutocompleteOption,
    popup,
    type PopupSettings,
    ListBox,
    ListBoxItem,
  } from '@skeletonlabs/skeleton'

  let selectedGroup = ''
  let searching = false
  const flavorOptions: AutocompleteOption<string>[] = [
    { label: 'Vanilla', value: 'vanilla', keywords: 'plain, basic', meta: { healthy: false } },
    { label: 'Chocolate', value: 'chocolate', keywords: 'dark, white', meta: { healthy: false } },
    { label: 'Strawberry', value: 'strawberry', keywords: 'fruit', meta: { healthy: true } },
    {
      label: 'Neapolitan',
      value: 'neapolitan',
      keywords: 'mix, strawberry, chocolate, vanilla',
      meta: { healthy: false },
    },
    { label: 'Pineapple', value: 'pineapple', keywords: 'fruit', meta: { healthy: true } },
    { label: 'Peach', value: 'peach', keywords: 'fruit', meta: { healthy: true } },
  ]

  // console.log($page.data.user)
  function onSearch(event) {
    console.log('onSearch')
    searching = true
  }

  function onFlavorSelection(event: CustomEvent<AutocompleteOption<string>>): void {
    console.log('selected')
    selectedGroup = event.detail.label
    searching = false
  }

  let popupSettings: PopupSettings = {
    event: 'focus-click',
    target: 'popupAutocomplete',
    placement: 'bottom',
  }
</script>

<input
  class="input autocomplete"
  type="search"
  name="autocomplete-search"
  bind:value={selectedGroup}
  placeholder="Select Group..."
  use:popup={popupSettings}
/>
<div data-popup="popupAutocomplete" class="card w-48 shadow-xl py-2">
  <Autocomplete bind:input={selectedGroup} options={flavorOptions} on:selection={onFlavorSelection} />
  <div class="arrow bg-surface-100-800-token" />
</div>
