<script lang="ts">
  import { page } from '$app/stores'
  import { LightSwitch } from '@skeletonlabs/skeleton'
  import { enhance } from '$app/forms'
  import { getDrawerStore } from '@skeletonlabs/skeleton'
  import * as m from '$lang/messages'
  import {
    availableLanguageTags,
    setLanguageTag,
    sourceLanguageTag,
    type AvailableLanguageTag,
    languageTag,
  } from '$lang/runtime'
  const drawerStore = getDrawerStore()

  function drawerClose(): void {
    drawerStore.close()
  }
  import { LogIn, LogOut, Contact2, UserCircle2, HelpingHand, Calendar, BadgeCheck } from 'lucide-svelte'
  import Logo from '$lib/components/logo.svelte'
  import { languagePath, translatePath } from '$lib/_helpers/i18n'
  import { goto } from '$app/navigation'
  import GroupSelector from './groupSelector.svelte'
  // import { currentGroup } from '$lib/stores/groupStore'
  export let user: any
  export let groups: any

  console.log('Navigation', { user, groups })

  // $: currentGroup
  // $: selectedLanguage = ($page.params.lang as AvailableLanguageTag) ?? sourceLanguageTag
  // $: setLanguageTag(selectedLanguage)
</script>

<nav class="list-nav p-4">
  <div class="flex flex-row justify-between items-center">
    <div class="">
      <select class="select" size="1" on:change={(e) => goto(translatePath($page.url.pathname, e.target.value))}>
        {#each availableLanguageTags as lang}
          <option value={lang} selected={lang === languageTag()}>{lang}</option>
        {/each}
      </select>
    </div>
    <div class="">
      <LightSwitch />
    </div>
  </div>

  <ul class="list mt-8">
    <li>
      <a href="/" on:click={drawerClose}> <span><Logo size="24" /></span><span class="flex-auto">{m.home()}</span></a>
    </li>

    {#if user && !user.verified}
      <li>
        <a href={languagePath('/auth/verify/email')} on:click={drawerClose}>
          <span><BadgeCheck /></span><span class="flex-auto">{m.verify()}</span>
        </a>
      </li>
    {/if}
    {#if user && user.verified && groups.length === 0}
      <li>
        <a href={languagePath('/onboard')} on:click={drawerClose}>
          <span><HelpingHand /></span><span class="flex-auto">{m.onboard()}</span>
        </a>
      </li>
    {/if}
    {#if user && user.verified}
      <li>
        <a href="/calendar" on:click={drawerClose}>
          <span><Calendar /></span><span class="flex-auto">{m.calendar()}</span>
        </a>
      </li>

      <hr />
      <GroupSelector />
    {/if}
    {#if user}
      <hr />
      <li>
        <a href="/profile" on:click={drawerClose}>
          <span><Contact2 /></span><span class="flex-auto">{m.profile()}</span>
        </a>
      </li>
      <li>
        <form use:enhance action="/auth/sign-out" method="post" on:click={drawerClose} on:keydown={drawerClose}>
          <button type="submit" class="btn"><span><LogOut /></span><span>{m.signout()}</span></button>
        </form>
      </li>
    {/if}
    {#if !user}
      <li>
        <a href="/auth/sign-in" on:click={drawerClose}>
          <span><LogIn /></span><span class="flex-auto">{m.signin()}</span>
        </a>
      </li>
      <li>
        <a href="/auth/sign-up" on:click={drawerClose}>
          <span><UserCircle2 /></span><span class="flex-auto">{m.signup()}</span>
        </a>
      </li>
    {/if}
  </ul>
</nav>
