<script lang="ts">
  import { CalendarIcon, ArrowLeftIcon, ArrowRightIcon, PlusCircleIcon } from 'lucide-svelte'
  import ToastCalendar from './ToastCalendar.svelte'
  import type { Options } from '@toast-ui/calendar'
  import type CalendarCore from '@toast-ui/calendar/types/factory/calendarCore'
  import type { PageData } from './$types'
  export let data: PageData
  console.log('calendars', { data })
  let calendar: CalendarCore

  let options: Options = {
    usageStatistics: false,
    defaultView: 'month',
    useFormPopup: true,
    timezone: {
      zones: [
        {
          timezoneName: 'America/New_York',
          displayLabel: 'NYC',
        },
        {
          timezoneName: 'Asia/Tokyo',
          displayLabel: 'Tokyo',
        },
      ],
    },
    calendars: [
      {
        id: 'cal1',
        name: 'Personal',
        backgroundColor: '#03bd9e',
      },
      {
        id: 'cal2',
        name: 'Work',
        backgroundColor: '#00a9ff',
      },
    ],
  }
  let currentDate: string
  $: if (calendar) {
    const date = calendar.getDate().toDate()
    const startDate = calendar.getDateRangeStart().toDate()
    const endDate = calendar.getDateRangeEnd().toDate()
    const dateOptions: Intl.DateTimeFormatOptions = {
      year: 'numeric',
      month: 'short',
      day: 'numeric',
    }
    currentDate = `${startDate.toLocaleDateString('en-US', dateOptions)} - ${endDate.toLocaleDateString(
      'en-US',
      dateOptions,
    )}`
  }
</script>

<svelte:head>
  <title>Calendar</title>
  <meta name="description" content="Calendar App" />
</svelte:head>

<article class="container flex">
  <aside class="w-1/6">
    <label class="flex" for="all">
      <input class="checkbox" type="checkbox" id="all" value="all" checked="" />
      View all
    </label>

    <hr />
    {#if data.calendars.length > 0}
      {#each data.calendars as calendarChoice}
        <label class="flex" for="1">
          <input class="checkbox" type="checkbox" id="1" value="1" checked="" />
          {calendarChoice.name}
        </label>
      {/each}
    {:else}
      <p class="py-4">You have no Calendars</p>
    {/if}

    <form class="flex flex-col">
      <label for="createCalendar">Create Calendar</label>
      <div class="input-group input-group-divider grid-cols-[1fr_auto]">
        <input class="" type="text" placeholder="New Calendar Name" name="name" />
        <button id="createCalendar"><PlusCircleIcon /></button>
      </div>
    </form>

    <hr />
  </aside>
  <section class="w-5/6">
    <nav class="flex justify-between items-center p-2">
      <div class="flex space-x-2">
        <select class="select" on:change={(event) => calendar.changeView(event?.target?.value)}>
          <option value="month">Monthly</option>
          <option value="week">Weekly</option>
          <option value="day">Daily</option>
        </select>
      </div>

      <button class="btn-icon" on:click={() => calendar.today()}>
        <span><CalendarIcon /></span><span>Today</span>
      </button>
      <button class="btn-icon" on:click={() => calendar.prev()}>
        <span><ArrowLeftIcon /></span><span>Previous</span>
      </button>
      <button class="btn icon" on:click={() => calendar.next()}>
        <span><ArrowRightIcon /></span><span>Next</span>
      </button>
      {#if calendar}
        <span class="flex">
          {currentDate}
        </span>
      {/if}

      <label for="collapse">
        <input class="checkbox" type="checkbox" id="collapse" value="collapse" />
        Collapse duplicate events and disable the detail popup
      </label>
    </nav>
    <ToastCalendar bind:calendar {options} />
  </section>
</article>

<style>
</style>
