<script lang="ts">
	import Calendar from '@toast-ui/calendar';

	import '@toast-ui/calendar/dist/toastui-calendar.min.css'; // Stylesheet for calendar
	import type CalendarCore from '@toast-ui/calendar/types/factory/calendarCore';
	import { onMount } from 'svelte';
	let isBrowser = typeof window !== 'undefined';
	export let options = {};

	let calendarElement;
	let calendarInstance: CalendarCore;

	onMount(() => {
		calendarInstance = new Calendar(calendarElement, options);

		console.log({ options, calendarInstance });
	});

	export { calendarInstance as calendar };
</script>

{#if isBrowser}
	<div class="calendar" bind:this={calendarElement} />
{/if}

<style>
	.calendar {
		height: 75vh; /* Take up full height of its parent */
	}
</style>
